@font-face {
    font-family: RobotoMono-Medium;
    src: url(./fonts/RobotoMono-Medium.ttf);
}

body {
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0.70fr 2fr 1.1fr;
    grid-template-rows: 20% 40% 40%;
    font-family: RobotoMono-Medium;

    
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.375fr 0.225fr;
    gap: 50px;
    background: rgb(0, 140, 215);
    color: white;
    padding: 25px;
    grid-area: 1/1/4/2;
}

.header {
    display: grid;
    background: rgb(255, 255, 255);
    grid-area: 1/2/2/4;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 45px 80px;
    gap: 25px;
    padding: 25px 50px;
    padding-right: 70px;
    font-weight: 700;

}

.sidebar ul {
    font-size: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;

}

.logo svg {
    height: 45px;
    width: 45px;
    fill: #FFFFFF;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.logo p {
    margin: 0;
    font-size: 30px;
    place-content: center;
}

.nav svg, .options svg {
    height: 30px;
    width: 30px;
    fill: #FFFFFF;
}

.nav li, .options li{
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
    
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;    
    flex: 1;
    gap: 10px;
}

.search svg {
    height: 30px;
}

.search-bar {
    background: rgb(217, 225, 233);
    height: 40px;
    width: 700px;
    border-radius: 30px;
}

.notif {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.notif svg {
    height: 30px;
}

.notif p{
    margin: 0;
    font-size: 25px;
}

.notif img {
    height: 45px;
    width: 45px;
    border: 2px solid black;
    border-radius: 45px;
    background: rgb(217, 225, 233);
}

.info {
    display: flex;
    flex: 1;
    gap: 20px;
    align-items: center;
}

.info img{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(217, 225, 233);
}

.msg p{
    margin: 0;

}

.msg {
    display: flex;
    flex-direction: column;
}

.msg .greetings {
    font-size: 15px;
    font-weight: 700;
}
.msg .name {
    font-size: 30px;
    font-weight: 800;
}

.buttons {
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content:space-between;
    align-items: center;
}

.buttons button{
    color: white;
    background: rgb(0, 140, 215);
    border: none;
    height: 45px;
    width: 120px;
    font-size: 17px;
    border-radius: 45px;

}

.projects {
    display: flex;
    gap: 15px;
    background: rgb(217, 225, 233);
    flex-direction: column;
    grid-area: 2/2/4/3;
    padding: 20px 15px;
}

.projects p, .announcements p, .trending p {
    margin: 0;
    font-size: 20px;
}

.projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 10px 1fr;
    background-color: white;
    border-radius: 10px;
    
    height: 200px;  
}


.bar {
    background-color: orange;
    display: flex;
    height: 200px;
    width: 10px;
    border-radius: 10px 0px 0px 10px;
    align-self: start;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 15px 15px;
}

.content .title {
    font-size: 20px;
}

.content .text {
    font-size: 15px;
    color: rgb(143, 143, 143);
}

.content .icons {
    align-self: end;
    display: flex;
    padding-top: 52px;
    gap: 25px;

}

.icons svg {
    height: 25px;
    width: 25px;
}

.announcements {
    display: flex;
    flex-direction: column;
    background: rgb(217, 225, 233);
    padding: 20px 15px;
    padding-bottom: 0;
    gap: 15px;
}

.announcements .content{
    display: grid;
    grid-template-columns: 1fr;
    background: white;
    border-radius: 10px;

}

.announcement .title {
    font-size: 15px;
}

.announcement .text {
    font-size: 15px;
    color: rgb(143, 143, 143);
}

.announcements .content .line {
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
    height: 2px;
    border-radius: 2px;
    
}

.trending {
    display: flex;
    flex-direction: column;
    background: rgb(217, 225, 233);
    padding: 20px 15px;
    padding-top: 0px;
    gap: 17px;
}

.trending .content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 20px;

}

.trending .item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.trending .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2px;
}

.trending .tag {
    font-size: 15px;
}

.trending .project {
    font-size: 15px;
    color: rgb(143, 143, 143);

}

.trending img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}


.header, .announcements .content, .trending .content, .projects .card {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
